/* #F58025 - orange */
/* #0064B1 - blue */
body {
  /* Gradient background */
  background: #ffffff;
  /* Fallback color if gradients are not supported */
  background-color: #ffffff;
  /* Fallback for older browsers */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fallback with alpha for older browsers */

  /* Ensuring full height of the viewport */
  height: 100vh;

  font-family: 'Roboto', sans-serif;
}